@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #f2e8be;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f2e8be;
    --foreground: #f2e8be;
  }
}



body {
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}

.scroll-snap-x-mandatory {
  scroll-snap-type: x mandatory;
}

.scroll-snap-center {
  scroll-snap-align: center;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

